{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://glue.amazonaws.com/"
        },
        {
            "url": "http://glue.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS Glue</fullname> <p>Defines the public endpoint for the AWS Glue service.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Glue",
        "version": "2017-03-31",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/glue-2017-03-31.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "glue"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/glue/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates one or more partitions in a batch operation.",
                "operationId": "BatchCreatePartition",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Errors": {
                                            "description": "Errors encountered when trying to create the requested partitions.",
                                            "items": {
                                                "description": "Contains information about a partition error.",
                                                "properties": {
                                                    "ErrorDetail": {
                                                        "description": "Details about the partition error.",
                                                        "properties": {
                                                            "ErrorCode": {
                                                                "description": "The code associated with this error.",
                                                                "maxLength": 255,
                                                                "minLength": 1,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                            },
                                                            "ErrorMessage": {
                                                                "description": "A message describing the error.",
                                                                "maxLength": 2048,
                                                                "minLength": 0,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "PartitionValues": {
                                                        "description": "The values that define the partition.",
                                                        "items": {
                                                            "maxLength": 1024,
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceNumberLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "EntityNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "OperationTimeoutException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "GlueEncryptionException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "CatalogId": {
                                        "description": "The ID of the catalog in which the partion is to be created. Currently, this should be the AWS account ID.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                    },
                                    "DatabaseName": {
                                        "description": "The name of the metadata database in which the partition is to be created.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                    },
                                    "PartitionInputList": {
                                        "description": "A list of <code>PartitionInput</code> structures that define the partitions to be created.",
                                        "items": {
                                            "description": "The structure used to create and update a partion.",
                                            "properties": {
                                                "LastAccessTime": {
                                                    "description": "The last time at which the partition was accessed.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "LastAnalyzedTime": {
                                                    "description": "The last time at which column statistics were computed for this partition.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "Parameters": {
                                                    "description": "These key-value pairs define partition parameters.",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "maxLength": 255,
                                                                "minLength": 1,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                            },
                                                            "value": {
                                                                "maxLength": 512000,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "StorageDescriptor": {
                                                    "description": "Provides information about the physical location where the partition is stored.",
                                                    "properties": {
                                                        "BucketColumns": {
                                                            "description": "A list of reducer grouping columns, clustering columns, and bucketing columns in the table.",
                                                            "items": {
                                                                "maxLength": 255,
                                                                "minLength": 1,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "Columns": {
                                                            "description": "A list of the <code>Columns</code> in the table.",
                                                            "items": {
                                                                "description": "A column in a <code>Table</code>.",
                                                                "properties": {
                                                                    "Comment": {
                                                                        "description": "Free-form text comment.",
                                                                        "maxLength": 255,
                                                                        "minLength": 0,
                                                                        "type": "string",
                                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                                    },
                                                                    "Name": {
                                                                        "description": "The name of the <code>Column</code>.",
                                                                        "maxLength": 255,
                                                                        "minLength": 1,
                                                                        "type": "string",
                                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                                    },
                                                                    "Type": {
                                                                        "description": "The datatype of data in the <code>Column</code>.",
                                                                        "maxLength": 131072,
                                                                        "minLength": 0,
                                                                        "type": "string",
                                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "Name"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "Compressed": {
                                                            "description": "True if the data in the table is compressed, or False if not.",
                                                            "type": "boolean"
                                                        },
                                                        "InputFormat": {
                                                            "description": "The input format: <code>SequenceFileInputFormat</code> (binary), or <code>TextInputFormat</code>, or a custom format.",
                                                            "maxLength": 128,
                                                            "type": "string",
                                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                        },
                                                        "Location": {
                                                            "description": "The physical location of the table. By default this takes the form of the warehouse location, followed by the database location in the warehouse, followed by the table name.",
                                                            "maxLength": 2056,
                                                            "type": "string",
                                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                        },
                                                        "NumberOfBuckets": {
                                                            "description": "Must be specified if the table contains any dimension columns.",
                                                            "type": "integer"
                                                        },
                                                        "OutputFormat": {
                                                            "description": "The output format: <code>SequenceFileOutputFormat</code> (binary), or <code>IgnoreKeyTextOutputFormat</code>, or a custom format.",
                                                            "maxLength": 128,
                                                            "type": "string",
                                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                        },
                                                        "Parameters": {
                                                            "description": "User-supplied properties in key-value form.",
                                                            "items": {
                                                                "properties": {
                                                                    "key": {
                                                                        "maxLength": 255,
                                                                        "minLength": 1,
                                                                        "type": "string",
                                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                                    },
                                                                    "value": {
                                                                        "maxLength": 512000,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "SerdeInfo": {
                                                            "description": "Serialization/deserialization (SerDe) information.",
                                                            "properties": {
                                                                "Name": {
                                                                    "description": "Name of the SerDe.",
                                                                    "maxLength": 255,
                                                                    "minLength": 1,
                                                                    "type": "string",
                                                                    "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                                },
                                                                "Parameters": {
                                                                    "description": "These key-value pairs define initialization parameters for the SerDe.",
                                                                    "items": {
                                                                        "properties": {
                                                                            "key": {
                                                                                "maxLength": 255,
                                                                                "minLength": 1,
                                                                                "type": "string",
                                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                                            },
                                                                            "value": {
                                                                                "maxLength": 512000,
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "SerializationLibrary": {
                                                                    "description": "Usually the class that implements the SerDe. An example is: <code>org.apache.hadoop.hive.serde2.columnar.ColumnarSerDe</code>.",
                                                                    "maxLength": 255,
                                                                    "minLength": 1,
                                                                    "type": "string",
                                                                    "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "SkewedInfo": {
                                                            "description": "Information about values that appear very frequently in a column (skewed values).",
                                                            "properties": {
                                                                "SkewedColumnNames": {
                                                                    "description": "A list of names of columns that contain skewed values.",
                                                                    "items": {
                                                                        "maxLength": 255,
                                                                        "minLength": 1,
                                                                        "type": "string",
                                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "SkewedColumnValueLocationMaps": {
                                                                    "description": "A mapping of skewed values to the columns that contain them.",
                                                                    "items": {
                                                                        "properties": {
                                                                            "key": {
                                                                                "type": "string"
                                                                            },
                                                                            "value": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "SkewedColumnValues": {
                                                                    "description": "A list of values that appear so frequently as to be considered skewed.",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "SortColumns": {
                                                            "description": "A list specifying the sort order of each bucket in the table.",
                                                            "items": {
                                                                "description": "Specifies the sort order of a sorted column.",
                                                                "properties": {
                                                                    "Column": {
                                                                        "description": "The name of the column.",
                                                                        "maxLength": 255,
                                                                        "minLength": 1,
                                                                        "type": "string",
                                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                                    },
                                                                    "SortOrder": {
                                                                        "description": "Indicates that the column is sorted in ascending order (<code>== 1</code>), or in descending order (<code>==0</code>).",
                                                                        "maximum": 1,
                                                                        "minimum": 0,
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "Column",
                                                                    "SortOrder"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "StoredAsSubDirectories": {
                                                            "description": "True if the table data is stored in subdirectories, or False if not.",
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "Values": {
                                                    "description": "The values of the partition. Although this parameter is not required by the SDK, you must specify this parameter for a valid input.",
                                                    "items": {
                                                        "maxLength": 1024,
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 100,
                                        "minItems": 0,
                                        "type": "array"
                                    },
                                    "TableName": {
                                        "description": "The name of the metadata table in which the partition is to be created.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                    }
                                },
                                "required": [
                                    "DatabaseName",
                                    "TableName",
                                    "PartitionInputList"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchDeleteConnection": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes a list of connection definitions from the Data Catalog.",
                "operationId": "BatchDeleteConnection",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Errors": {
                                            "description": "A map of the names of connections that were not successfully deleted to error details.",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                    },
                                                    "value": {
                                                        "description": "Contains details about an error.",
                                                        "properties": {
                                                            "ErrorCode": {
                                                                "description": "The code associated with this error.",
                                                                "maxLength": 255,
                                                                "minLength": 1,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                            },
                                                            "ErrorMessage": {
                                                                "description": "A message describing the error.",
                                                                "maxLength": 2048,
                                                                "minLength": 0,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "Succeeded": {
                                            "description": "A list of names of the connection definitions that were successfully deleted.",
                                            "items": {
                                                "maxLength": 255,
                                                "minLength": 1,
                                                "type": "string",
                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "OperationTimeoutException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "CatalogId": {
                                        "description": "The ID of the Data Catalog in which the connections reside. If none is provided, the AWS account ID is used by default.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                    },
                                    "ConnectionNameList": {
                                        "description": "A list of names of the connections to delete.",
                                        "items": {
                                            "maxLength": 255,
                                            "minLength": 1,
                                            "type": "string",
                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                        },
                                        "maxItems": 25,
                                        "minItems": 0,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "ConnectionNameList"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchDeletePartition": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes one or more partitions in a batch operation.",
                "operationId": "BatchDeletePartition",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Errors": {
                                            "description": "Errors encountered when trying to delete the requested partitions.",
                                            "items": {
                                                "description": "Contains information about a partition error.",
                                                "properties": {
                                                    "ErrorDetail": {
                                                        "description": "Details about the partition error.",
                                                        "properties": {
                                                            "ErrorCode": {
                                                                "description": "The code associated with this error.",
                                                                "maxLength": 255,
                                                                "minLength": 1,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                            },
                                                            "ErrorMessage": {
                                                                "description": "A message describing the error.",
                                                                "maxLength": 2048,
                                                                "minLength": 0,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "PartitionValues": {
                                                        "description": "The values that define the partition.",
                                                        "items": {
                                                            "maxLength": 1024,
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "EntityNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "OperationTimeoutException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "CatalogId": {
                                        "description": "The ID of the Data Catalog where the partition to be deleted resides. If none is supplied, the AWS account ID is used by default.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                    },
                                    "DatabaseName": {
                                        "description": "The name of the catalog database in which the table in question resides.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                    },
                                    "PartitionsToDelete": {
                                        "description": "A list of <code>PartitionInput</code> structures that define the partitions to be deleted.",
                                        "items": {
                                            "description": "Contains a list of values defining partitions.",
                                            "properties": {
                                                "Values": {
                                                    "description": "The list of values.",
                                                    "items": {
                                                        "maxLength": 1024,
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "required": [
                                                "Values"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 25,
                                        "minItems": 0,
                                        "type": "array"
                                    },
                                    "TableName": {
                                        "description": "The name of the table where the partitions to be deleted is located.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                    }
                                },
                                "required": [
                                    "DatabaseName",
                                    "TableName",
                                    "PartitionsToDelete"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchDeleteTable": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes multiple tables at once.</p> <note> <p>After completing this operation, you will no longer have access to the table versions and partitions that belong to the deleted table. AWS Glue deletes these \"orphaned\" resources asynchronously in a timely manner, at the discretion of the service.</p> <p>To ensure immediate deletion of all related resources, before calling <code>BatchDeleteTable</code>, use <code>DeleteTableVersion</code> or <code>BatchDeleteTableVersion</code>, and <code>DeletePartition</code> or <code>BatchDeletePartition</code>, to delete any resources that belong to the table.</p> </note>",
                "operationId": "BatchDeleteTable",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Errors": {
                                            "description": "A list of errors encountered in attempting to delete the specified tables.",
                                            "items": {
                                                "description": "An error record for table operations.",
                                                "properties": {
                                                    "ErrorDetail": {
                                                        "description": "Detail about the error.",
                                                        "properties": {
                                                            "ErrorCode": {
                                                                "description": "The code associated with this error.",
                                                                "maxLength": 255,
                                                                "minLength": 1,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                            },
                                                            "ErrorMessage": {
                                                                "description": "A message describing the error.",
                                                                "maxLength": 2048,
                                                                "minLength": 0,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "TableName": {
                                                        "description": "Name of the table. For Hive compatibility, this must be entirely lowercase.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "EntityNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "OperationTimeoutException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "CatalogId": {
                                        "description": "The ID of the Data Catalog where the table resides. If none is supplied, the AWS account ID is used by default.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                    },
                                    "DatabaseName": {
                                        "description": "The name of the catalog database where the tables to delete reside. For Hive compatibility, this name is entirely lowercase.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                    },
                                    "TablesToDelete": {
                                        "description": "A list of the table to delete.",
                                        "items": {
                                            "maxLength": 255,
                                            "minLength": 1,
                                            "type": "string",
                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                        },
                                        "maxItems": 100,
                                        "minItems": 0,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "DatabaseName",
                                    "TablesToDelete"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchDeleteTableVersion": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes a specified batch of versions of a table.",
                "operationId": "BatchDeleteTableVersion",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Errors": {
                                            "description": "A list of errors encountered while trying to delete the specified table versions.",
                                            "items": {
                                                "description": "An error record for table-version operations.",
                                                "properties": {
                                                    "ErrorDetail": {
                                                        "description": "Detail about the error.",
                                                        "properties": {
                                                            "ErrorCode": {
                                                                "description": "The code associated with this error.",
                                                                "maxLength": 255,
                                                                "minLength": 1,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                            },
                                                            "ErrorMessage": {
                                                                "description": "A message describing the error.",
                                                                "maxLength": 2048,
                                                                "minLength": 0,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "TableName": {
                                                        "description": "The name of the table in question.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                    },
                                                    "VersionId": {
                                                        "description": "The ID value of the version in question. A <code>VersionID</code> is a string representation of an integer. Each version is incremented by 1.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "EntityNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "OperationTimeoutException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "CatalogId": {
                                        "description": "The ID of the Data Catalog where the tables reside. If none is supplied, the AWS account ID is used by default.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                    },
                                    "DatabaseName": {
                                        "description": "The database in the catalog in which the table resides. For Hive compatibility, this name is entirely lowercase.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                    },
                                    "TableName": {
                                        "description": "The name of the table. For Hive compatibility, this name is entirely lowercase.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                    },
                                    "VersionIds": {
                                        "description": "A list of the IDs of versions to be deleted. A <code>VersionId</code> is a string representation of an integer. Each version is incremented by 1.",
                                        "items": {
                                            "maxLength": 255,
                                            "minLength": 1,
                                            "type": "string",
                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                        },
                                        "maxItems": 100,
                                        "minItems": 0,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "DatabaseName",
                                    "TableName",
                                    "VersionIds"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchGetCrawlers": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Returns a list of resource metadata for a given list of crawler names. After calling the <code>ListCrawlers</code> operation, you can call this operation to access the data to which you have been granted permissions to based on tags.",
                "operationId": "BatchGetCrawlers",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Crawlers": {
                                            "description": "A list of crawler definitions.",
                                            "items": {
                                                "description": "Specifies a crawler program that examines a data source and uses classifiers to try to determine its schema. If successful, the crawler records metadata concerning the data source in the AWS Glue Data Catalog.",
                                                "properties": {
                                                    "Classifiers": {
                                                        "description": "A list of custom classifiers associated with the crawler.",
                                                        "items": {
                                                            "maxLength": 255,
                                                            "minLength": 1,
                                                            "type": "string",
                                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Configuration": {
                                                        "description": "Crawler configuration information. This versioned JSON string allows users to specify aspects of a crawler's behavior. For more information, see <a href=\"http://docs.aws.amazon.com/glue/latest/dg/crawler-configuration.html\">Configuring a Crawler</a>.",
                                                        "type": "string"
                                                    },
                                                    "CrawlElapsedTime": {
                                                        "description": "If the crawler is running, contains the total time elapsed since the last crawl began.",
                                                        "type": "integer"
                                                    },
                                                    "CrawlerSecurityConfiguration": {
                                                        "description": "The name of the SecurityConfiguration structure to be used by this Crawler.",
                                                        "maxLength": 128,
                                                        "minLength": 0,
                                                        "type": "string"
                                                    },
                                                    "CreationTime": {
                                                        "description": "The time when the crawler was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DatabaseName": {
                                                        "description": "The database where metadata is written by this crawler.",
                                                        "type": "string"
                                                    },
                                                    "Description": {
                                                        "description": "A description of the crawler.",
                                                        "maxLength": 2048,
                                                        "minLength": 0,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                    },
                                                    "LastCrawl": {
                                                        "description": "The status of the last crawl, and potentially error information if an error occurred.",
                                                        "properties": {
                                                            "ErrorMessage": {
                                                                "description": "If an error occurred, the error information about the last crawl.",
                                                                "maxLength": 2048,
                                                                "minLength": 0,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                            },
                                                            "LogGroup": {
                                                                "description": "The log group for the last crawl.",
                                                                "maxLength": 512,
                                                                "minLength": 1,
                                                                "pattern": "[\\.\\-_/#A-Za-z0-9]+",
                                                                "type": "string"
                                                            },
                                                            "LogStream": {
                                                                "description": "The log stream for the last crawl.",
                                                                "maxLength": 512,
                                                                "minLength": 1,
                                                                "pattern": "[^:*]*",
                                                                "type": "string"
                                                            },
                                                            "MessagePrefix": {
                                                                "description": "The prefix for a message about this crawl.",
                                                                "maxLength": 255,
                                                                "minLength": 1,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                            },
                                                            "StartTime": {
                                                                "description": "The time at which the crawl started.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "Status": {
                                                                "description": "Status of the last crawl.",
                                                                "enum": [
                                                                    "SUCCEEDED",
                                                                    "CANCELLED",
                                                                    "FAILED"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "LastUpdated": {
                                                        "description": "The time the crawler was last updated.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "description": "The crawler name.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
                                                    },
                                                    "Role": {
                                                        "description": "The IAM role (or ARN of an IAM role) used to access customer resources, such as data in Amazon S3.",
                                                        "type": "string"
                                                    },
                                                    "Schedule": {
                                                        "description": "For scheduled crawlers, the schedule when the crawler runs.",
                                                        "properties": {
                                                            "ScheduleExpression": {
                                                                "description": "A <code>cron</code> expression used to specify the schedule (see <a href=\"http://docs.aws.amazon.com/glue/latest/dg/monitor-data-warehouse-schedule.html\">Time-Based Schedules for Jobs and Crawlers</a>. For example, to run something every day at 12:15 UTC, you would specify: <code>cron(15 12 * * ? *)</code>.",
                                                                "type": "string"
                                                            },
                                                            "State": {
                                                                "description": "The state of the schedule.",
                                                                "enum": [
                                                                    "SCHEDULED",
                                                                    "NOT_SCHEDULED",
                                                                    "TRANSITIONING"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "SchemaChangePolicy": {
                                                        "description": "Sets the behavior when the crawler finds a changed or deleted object.",
                                                        "properties": {
                                                            "DeleteBehavior": {
                                                                "description": "The deletion behavior when the crawler finds a deleted object.",
                                                                "enum": [
                                                                    "LOG",
                                                                    "DELETE_FROM_DATABASE",
                                                                    "DEPRECATE_IN_DATABASE"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "UpdateBehavior": {
                                                                "description": "The update behavior when the crawler finds a changed schema.",
                                                                "enum": [
                                                                    "LOG",
                                                                    "UPDATE_IN_DATABASE"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "State": {
                                                        "description": "Indicates whether the crawler is running, or whether a run is pending.",
                                                        "enum": [
                                                            "READY",
                                                            "RUNNING",
                                                            "STOPPING"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "TablePrefix": {
                                                        "description": "The prefix added to the names of tables that are created.",
                                                        "maxLength": 128,
                                                        "minLength": 0,
                                                        "type": "string"
                                                    },
                                                    "Targets": {
                                                        "description": "A collection of targets to crawl.",
                                                        "properties": {
                                                            "DynamoDBTargets": {
                                                                "description": "Specifies DynamoDB targets.",
                                                                "items": {
                                                                    "description": "Specifies a DynamoDB table to crawl.",
                                                                    "properties": {
                                                                        "Path": {
                                                                            "description": "The name of the DynamoDB table to crawl.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "JdbcTargets": {
                                                                "description": "Specifies JDBC targets.",
                                                                "items": {
                                                                    "description": "Specifies a JDBC data store to crawl.",
                                                                    "properties": {
                                                                        "ConnectionName": {
                                                                            "description": "The name of the connection to use to connect to the JDBC target.",
                                                                            "type": "string"
                                                                        },
                                                                        "Exclusions": {
                                                                            "description": "A list of glob patterns used to exclude from the crawl. For more information, see <a href=\"http://docs.aws.amazon.com/glue/latest/dg/add-crawler.html\">Catalog Tables with a Crawler</a>.",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "Path": {
                                                                            "description": "The path of the JDBC target.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "S3Targets": {
                                                                "description": "Specifies Amazon S3 targets.",
                                                                "items": {
                                                                    "description": "Specifies a data store in Amazon S3.",
                                                                    "properties": {
                                                                        "Exclusions": {
                                                                            "description": "A list of glob patterns used to exclude from the crawl. For more information, see <a href=\"http://docs.aws.amazon.com/glue/latest/dg/add-crawler.html\">Catalog Tables with a Crawler</a>.",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "Path": {
                                                                            "description": "The path to the Amazon S3 target.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Version": {
                                                        "description": "The version of the crawler.",
[...]
